*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

section{
    padding-top: 58px;
}

#home{
    height: 100vh;
}

#teste{
    height: 100vh;
}

.nav-bar{
    width: 100%;
    height: 5%;
    background-color: darkslategray;
    position: fixed;
}

.itens-nav-bar{
    margin-left: 2vw;
}

nav ul li{
    display: inline;
    margin-left: 1vw;
    float: left;
}
nav ul li a{
    align-items: center;
    display: block;
    text-decoration: none;
    color:white;
}
nav ul li a:hover{
    background-color: #333;
}

.grid{
    max-width: 1200px;
    padding: 15px;
    margin: 0 auto;
}

.grid::after{
    content: '';
    display: block;
    clear: both;
}

.grid .col {
    height: 300px;
    float: left;
    pad: 15px;
}

.grid .col-content{
    width: 100%;
    height: 100%;
    background-color: red;
}

@media (max-width: 320px) {
    .grid .col {
        width: 100%;
        
    }
}

@media (min-width: 321px) and (max-width: 768px) {
    .grid .col {
        width: 50%;
        
    }
}