*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.grid .col {
   
    width: 30%;
    height: 100px;
    background-color: red;
    margin: 30px;
    float: left;
    
}

@media (max-width: 320px) {
    .grid .col {
        width: 100%;
        
    }
}

@media (min-width: 321px) and (max-width: 768px) {
    .grid .col {
        width: 50%;
        
    }
}