*{
    margin: 0;
    pad: 0;
    box-sizing: border-box;
}

.flex-container{
    background-color: yellow;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: row nowrap;
    height: 800px;
}

.flex-item{
    color: white;
    background-color: red;
    width: 100%;
}
